{%extends "layout.html"%}
{%block content%}
{# about page#} 
<div class="words">
    <h1>
    About this website
    </h1>
    <p>
        This website is designed to help students and teachers report, manage, and keep track of incidents.<br>

        Students can submit incident reports without having to provide their identity. This allows students to report issues anonymously, which can make them feel more comfortable reporting situations that they may otherwise be hesitant to talk about.<br>

        Once a report has been submitted, authorised teachers can view and manage the report. They can edit the report when necessary, update its status as the situation is investigated, and add notes containing additional information, ideas, or updates.<br>

        The website keeps reports organised in one place, making it easier for teachers to review incidents, keep track of their progress, and record important information. Teachers should not treat reports as facts, but make sure to investigate into them if it looks necessary.<br>

        Students do not need an account to submit a report, while access to submitted reports and other management features is restricted to authorised users. <br>
        
    </p>
</div>
{%endblock%}