{%extends "layout.html"%}
{%block content%}
<div class="reports">
    <form method="POST"> 
        {{ form.hidden_tag() }} 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="text-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {{ form.title(class_="form-control") }} 
        <p>
            {{report_to_update.report_detail}}
        </p>
        <ul>
            {% for subfield in form.type %}
                <li>{{ subfield() }} {{ subfield.label }}</li>
            {% endfor %}
        </ul>
        <br>
        {{ form.status.label(class_="form-label") }}
        {{ form.status(class_="form-control") }}
        <br>
        {{ form.priority.label(class_="form-label") }}
        {{ form.priority(class_="form-control") }}
        <br>
        <p>Report was submit on {{ report_to_update.report_time }}</p>
        <br>
        <p>Add a note</p>
        {{ form.note(class_="form-control note-textarea") }}
        <br>
        {{ form.update(class_="form_button") }}
</form>
</div>


    <p>Notes: </p>
    {% if report_to_update.notes %}
            {% for note in report_to_update.notes|reverse %}
            <div class="notes">
                <p>{{ note.user.teacher_code}} - {{ note.note }}</p>
            </div>
            {% endfor %}
    {% else %}
        <p>No notes yet.</p>
    {% endif %}

{% endblock%}