<nav>
    <div class="nav-left">
        <a href="http://127.0.0.1:5000/" class="link"><img class="logo" src="/static/images/Logo.png" alt="Logo" ></a>
        <a href="http://127.0.0.1:5000/" class="h_link">Report Incident</a>
        <a href="http://127.0.0.1:5000/about" class="h_link">About This Website</a>
    </div>
    {% if current_user.is_authenticated %}
        <div class="nav-right">
            <a href="http://127.0.0.1:5000/view" class="h_link">All Reports</a>
            <a href="http://127.0.0.1:5000/signup" class="h_link">Sign up</a>
        </div>
        <div class="user_info">
            <p>{{ current_user.teacher_code }}</p>
            <a href="{{ url_for('logout') }}" class="link" >Logout</a>
        </div>
    {% elif  not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}" class="h_link">teacher login</a>
    {% endif %}
</nav>

