{%extends "layout.html"%}
{%block content%}
<div class="words">
    <div class="centre">
        <u><h1>Log In</h1></u>
    </div>
    <div class="centre1">
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}

            {# user name#}
            <p>User Name</p>
            {{ form.user_name(class_ = "form-control report-textbox") }}<br>
            {% for error in form.user_name.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}

            {# password#}
            <p>Password</p>
            {{ form.password(class_ = "form-control report-textbox") }} <br>
            {% for error in form.password.errors %}<br>
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
            <br>
            {# login button#}
            {{ form.submit (class_="form_button")}} <br>
            
            {# error message#}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="text-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
</div>

{% endblock%}