{%extends "layout.html"%}
{%block content%}
{% if title%}
<div class="centre">
    <h1> Your report, "{{title}}" has been sent</h1>
    <a href="http://127.0.0.1:5000/">Write another report</a>
</div>
{% else %}
    <div class="centre">
        <h1>Report</h1>
    </div>
    <div class="centre">
        <form method = "POST" novalidate> # prevent the browser doing error messages
            {{ form.hidden_tag() }} 
            {{ form.title.label (class_ = "form-label") }}
            {{ form.title(class_ = "form-control", placeholder = "title of report") }} # title
            {% for error in form.title.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
            <br>
            {{ form.report.label (class_ = "form-label") }}
            {{ form.report(class_ = "form-control") }} # Please report any incidents here...
            {% for error in form.report.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
            <br/>
            <ul>
                {% for subfield in form.type %}
                    <li>{{ subfield() }} {{ subfield.label }}</li>
                {% endfor %}
            </ul>
            {% for error in form.type.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
            <br/>
            {{ form.submit(class_ = "btn btn-primary") }}
        </form>
    </div>
{% endif %}
{%endblock%}