{%extends "layout.html"%}
{%block content%}
{% if title and report %}
    <h1> Your report, "{{title}}" has been sent</h1>
    <a href="http://127.0.0.1:5000/">Write another report</a>
{% else %}
    <h1>Report</h1>
    <br/>
    <form method = "POST">
        {{ form.hidden_tag() }} 
        {{ form.title.label (class_ = "form-label") }}
        {{ form.title(class_ = "form-control", placeholder = "title of report") }}
        <br>
        {{ form.report.label (class_ = "form-label") }}
        {{ form.report(class_ = "form-control", placeholder = "please write details for the report") }}
        <br/>
        {{ form.submit(class_ = "btn btn-primary") }}
    </form>

 {% endif %}
{%endblock%}