{%extends "layout.html"%}
{%block content%}
<div class="words">
    <p>You can make an account for another person.</p>
    <form method = "POST" novalidate>
        {{ form.hidden_tag() }}

        {# make user name #}
        <p>username</p>
        {{ form.user_name() }} <br>
        {% for error in form.user_name.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}

        {# make password #}
        <p>password</p>
        {{ form.password() }}<br>
        {% for error in form.password.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        {# write teacher code#}
        <p>teacher code</p>
        {{ form.teacher_code() }}<br>
        {% for error in form.teacher_code.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}

        {#sign up#}
        {{ form.submit (class_="form_button")}} 
    </form>
</div>
{% endblock%}
