{% extends "layout.html" %}
{% block content %}
<div class="block">
    <h1>Reports</h1>
    <div class="sorting">
        <form method="get" action="/view" id="sortForm">
            <label for="sort">Sort reports by:</label>
            <select id="sort" name="sort" onchange="this.form.submit()">
                <option value="original" {% if sort == 'original' %}selected{% endif %}>Original order</option>
                <option value="status" {% if sort == 'status' %}selected{% endif %}>Status</option>
                <option value="priority" {% if sort == 'priority' %}selected{% endif %}>Priority</option>
                <option value="type" {% if sort == 'type' %}selected{% endif %}>Type</option>
            </select>
        </form>
    </div>
    

    {% for report in reports %}
        <div class="reports">
            <a href="http://127.0.0.1:5000/edit/{{ report.report_id }}" class="report_name">{{ report.report_title }}</a>
            <div class="right_info">
                <p>
                <u>Status:</u>
                {% if report.status %}
                    {{ report.status.status }}
                {% else %}
                    No status
                {% endif %}
                </p>
                <br>
                <p>
                <u>Priority:</u>
                {% if report.priority %}
                    {{ report.priority.priority }}
                {% else %}
                    No
                {% endif %}
                </p>
                <br>
                <p>
                <u>Category:</u>
                {% if report.types %}
                    {% for t in report.types %}
                        {{ t.type }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    No type
                {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


